/* table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 95%;
    height: 100%;
    overflow-y: scroll;
}
table button{
    color: white;
    background-color: red;
    border: none;
    font-size: small;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 5px 5px 10px rgb(177, 173, 173);
    cursor: pointer;
}
th {
    background-color: black;
    color: white;
}
td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
} */